@{
    ViewData["Title"] = "Bem-vindo!";
     ViewData["HideLogoutButton"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4 shadow-sm">
      <h4 class="text-center">Login</h4>
      <hr />
      @if (TempData["Error"] != null) {
        <div class="alert alert-danger">@TempData["Error"]</div>
      }
      @if (TempData["SuccessRegister"] != null) {
        <div class="alert alert-success">@TempData["SuccessRegister"]</div>
      }

      <form method="post" action="/Account/Login">
          <input name="Email" type="email" class="form-control mb-2" placeholder="E-mail" required />
          <input name="Senha" type="password" class="form-control mb-2" placeholder="Senha" required />
          <div class="d-grid">
              <button class="btn btn-primary">Entrar</button>
          </div>
      </form>

      <div class="text-center mt-3">
         <span> Não tem conta?</span>
         <a href="#" data-bs-toggle="modal" data-bs-target="#modalRegistro">
          Registre-se aqui
         </a>
      </div>
    </div>
</div>

<div class="modal fade" id="modalRegistro" tabindex="-1" aria-labelledby="modalRegistroLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       <h5 class="modal-title" id="modalRegistroLabel">Registrar Nova Conta</h5>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          @if (TempData["ErrorRegister"] !=null) {
            <div class="alert alert-danger">@TempData["ErrorRgister"]</div>
          }

          <form method="post" action="/Account/Register" id="formRegistro">
            <input name="Nome" type="text" class="form-control mb-2" placeholder="Nome completo" required/>
            <input name="Email" type="email" class="form-control mb-2" placeholder="E-mail" required/>
            <input name="Senha" type="password" class="form-control mb-2" placeholder="Senha" required/>
            <select name="Perfil" class="form-select mb-2" required>
               <option value="" disabled selected>Selecione seu perfil</option>
               <option value="crianca">Criança</option>
               <option value="pai">Pai</option>
               <option value="professor">Professor</option>
            </select>
          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-success" form="formRegistro">Registrar</button>
      </div>
    </div>
  </div>
</div>